header,
aside,
article,
footer {
display:block;
}
#layout{
width:95%;
margin:20px auto 0 auto;
border: 5px double #FFA07A;

-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
box-shadow:0 0 5px rgba(0,0,0,0.3);
}

@font-face {
    font-family: Pompadur;
    src: url(42631.ttf); 
   } 
@font-face {
    font-family: Block Regular; 
    src: url(42854.ttf); 
   }
  
#layout > header{
height:200px;
background:#FFE4E1;

background:-moz-linear-gradient(left, #FFE4E1, #FF4500);
background: -webkit-linear-gradient(left, #FFE4E1, #FF4500);
background: -o-linear-gradient(left, #FFE4E1, #FF4500); 
background: -ms-linear-gradient(left, #FFE4E1, #FF4500);
}
#layout > header > .logotype {
background-image:url(14577.jpg); 
background-position:center; 
height:150px; 
background-repeat:no-repeat;
}
#layout > header > .header-text {
font-size:2em;
text-align:center;
font-family: Pompadur;
-webkit-text-fill-color:white;
-webkit-text-stroke: 2px black;
}

#layout a:hover{
 font-size:20px;
}

#layout ul.menu{
margin:0px;
padding:10px;
}
#layout ul.menu > li {
display:inline-block;
}
#layout ul.menu > li:not(:first-child):before{
content:' || ';
color:#FFA07A;
}
#layout ul.menu > li a {
  color:#696969;
  text-decoration: none;
  font-family: Block Regular;
}

#layout .content > aside {
float:right;
width:150px;
border:1px solid #FFDAB9;
}
#layout .content > article {
margin-right:150px;
padding:10px;
}
#layout .foto{
float:left;
}
#layout .content > article > h2,h4{
text-align:center;
font-family: Pompadur;
}

#layout .block-content{
padding: 5px 0 5px 10px;
 margin: 5px;
}
#layout .block-content > p a{
text-decoration:none;
color: #696969;
font-family: Block Regular;
font-size: 1em;
}

#layout > footer{
color:#000;
text-align: center;
background:#FFE4E1;

background:-moz-linear-gradient(left, #FFE4E1, #FF4500);
background: -webkit-linear-gradient(left, #FFE4E1, #FF4500);
background: -o-linear-gradient(left, #FFE4E1, #FF4500); 
background: -ms-linear-gradient(left, #FFE4E1, #FF4500);
padding:10px;
font-size:0.9em;
}

